/dts-v1/;
/plugin/;

/{
    compatible = "rockchip,rk3328";

    fragment@0 {
        target-path = "/spi@ff190000";
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;

            spidev0: spidev@0 {
                compatible = "spidev";
                reg = <0>;
                spi-max-frequency = <50000000>;
                status = "okay";
            };

            spidev1: spidev@1 {
                compatible = "spidev";
                reg = <1>;
                spi-max-frequency = <50000000>;
                status = "okay";
            };
        };
    };
};
